<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachedFileDao">

  <insert id="add" parameterType="bitcamp.myapp.vo.AttachedFile">
    insert into board_files(file_path,board_no) values(#{filePath},#{boardNo})
  </insert>

  <insert id="addAll" parameterType="list">
    insert into board_files(file_path,board_no)
    values
    <foreach collection="list" item="file" separator=",">
    (#{file.filePath},#{file.boardNo})
    </foreach>
  </insert>

  <delete id="delete" parameterType="int">
    delete from board_files
    where file_no=#{value}
  </delete>

  <delete id="deleteAll" parameterType="int">
    delete from board_files
    where board_no=#{value}
  </delete>

  <select id="findAllByBoardNo" resultType="bitcamp.myapp.vo.AttachedFile" parameterType="int">
    select
      file_no as no,
      file_path as filePath,
      board_no as boardNo
    from
      board_files
    where
      board_no=#{value}
    order by
      file_no asc
  </select>

  <select id="findByNo" resultType="bitcamp.myapp.vo.AttachedFile" parameterType="int">
    select
      file_no as no,
      file_path as filePath,
      board_no as boardNo
    from
      board_files
    where
      file_no=#{value}
  </select>
</mapper>